@mixin whole-card {
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

@mixin card-title ($color){
    color:$color;
}
 @mixin card-subtitle{
color:lightgray;
 }
 @mixin card-text{
color:black;
 }

 .body-card{
    margin: 1rem;
}

.sold {
    opacity: .5;
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
    }